.btn-main {
	font-size:3.5vh;
	border:none;
	padding:7.5px;
	font-family: Helvetica;
	color:white;
	margin-right: 1vw;
	outline: none;
	border-radius: 5px;

}

.btn-red {
	background-color: #e92236;
}
.btn-red:hover {
	background-color: #dc3545;
}
.btn-purple {
	background-color: #9513bf;
}
.btn-purple:hover {
	background-color: #af2dd9;
}


.btn-age {
	font-size:3.2vh;
	background-color: #44abd4;
	border:none;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	padding-bottom: 8px;
	font-family: Helvetica;
	color:white;
	margin-right: 15px;
	outline: none;
	border-radius: 5px;
}


.btn-age:hover {
	background-color: #3f90b1;
}


.btn-settings {
	font-size:4.5vh;
	color:rgb(204, 194, 194);
	background-color: transparent;
	border:none;
	padding:10px;
	outline:none;
	border-radius: 10px;
	position: relative;
	left:90%;
	top:50%;
	transform:translate(-50%,-50%);

}
.btn-settings:hover {
	font-size:4.75vh;
	color:rgb(240, 211, 211);
}


.btn1 {

}

.btn2 {

}

button:active,button:focus{
	outline:none
}