.btn-main {
	font-size:22px;
	border:none;
	padding:6px;
	color:white;
	margin-right: 1vw;
	outline: none;
	border-radius: 5px;
	font-family: 'Nunito';

}


.btn-red {
	background-color: #e92236;
}

.btn-red:hover {
	background-color: #dc3545;
}

.btn-blue {
	background-color: #1e7fe1;
}

.btn-blue:hover {
	background-color: transparent;
	border:1px solid #1e7fe1;
}

.btn-green {
	background-color: #2ecc71;

}
.btn-green:hover {
	background-color: transparent;
	border:1px solid #0de86a;
}

.btn-blurple {
	background-color: #6868bd;
}

.btn-blurple:hover {
	background-color: transparent;
}

.btn-purple {
	background-color: #9513bf;
}

.btn-purple:hover {
	background-color: transparent;
}

.btn-dark {
	background-color: #3a3636;
}

.btn-dark:hover{
	background-color: transparent;
	border:1px solid #3a3636;
}

.btn-black {
	background-color:#131111; 
}

.btn-black:hover {
	background-color: transparent;
}



.btn-age {
	font-size:21px;
	border:none;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	padding-bottom: 8px;
	font-family: Nunito;
	color:white;
	margin-right: 15px;
	outline: none;
	border-radius: 5px;
}


.btn-alert {
	font-size:21px;
	color:white;
	border:none;
	padding:8px 12px 8px 12px; 
	font-family: Nunito;
	outline:none;
	border-radius: 4px;
	position: relative;
	top:48.5%;
	transform: translateY(-50%); 
}


.btn-alert:hover {
	background-color: #dc2525;
}




.btn-settings {
	font-size:30px;
	color:rgb(204, 194, 194);
	background-color: transparent;
	border:none;
	padding:10px;
	outline:none;
	border-radius: 10px;
	float:right;
	position: relative;
	top:50%;
	transform:translate(-50%,-50%);

}
.btn-settings:hover {
	font-size:32px;
	color:rgb(240, 211, 211);
}


.btn1 {

}

.btn2 {

}

button:active,button:focus{
	outline:none
}