* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-color: #1b1b1b;
	height:100vh;
	width:100vw;
	

}
#container {
	height:100%;
	width:100%;
}



#top-panel {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height:10%;
	border-bottom: 1px solid #1d1c1c;
	display: grid;
	grid-template-columns: 70% 30%;

}

#console-container {
	color:#e2dede;
	border-right: 1px solid #1d1c1c;
	font-size:18px;
	font-family: 'Open Sans';
	line-height:125%;

}

#console {
	
	margin-top:3%;
	margin-left:1%;
}

#root {
	height:75%;
	border-bottom: 1px solid #1d1c1c;
	display: grid;
	grid-template-columns: 70% 30%;
}


#money-panel {

}

#money {
	color:#36e28b;
	font-size:42px;
	font-family: "Open Sans";
}

#bank-balance {

	font-size:16px;
	font-family: "Open Sans";
}


#age {
	color:white;
	font-size: 35px;
	font-family: Nunito;
	float: right;

	

}


#swal2-content {
	color:#e3e3e3;
}

#swal2-footer {
	color:#e3e3e3;
}

#swal2-title {
	color:#737171;
	font-family: Nunito;
}

b {
	color: #a8e3c5;
	font-family: "Jost";
}



@media only screen and (max-width:840px){
	#container {
		display: none;
	}
	#warning {
		display:block;
		color:white;
	}
}

@media only screen and (min-width:841px){
	#container {
		display:block;
	}
	#warning {
		display:none;
	}
}



