body{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	background-color: #182860;
	color:#fffefe;
}

html, body {
	height: 100%;
}

.min-100 {
	min-height: 100%;
}

.fas {
	display:inline-block;
	line-height: 20px;
	font-size: 16px;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: bottom;
}

.main-bg-color {background-color: #fefefe;}

.flex-center {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.margin-10 {
	margin: 10px;
}
.info-cards {

}

.left-info-card {
	background: #ff2252;
}
.right-info-card {
	background: #ffa000;
}

.play-buttons {

}
